 body {
        justify-content: center;
        padding-top: 70px;
 }
.navbar {
    display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #9e9797;
        padding: 0 20px;
        height: 70px;
              
}

/* Hide horizontal overflow */
body, html {
  overflow-x: hidden;
}

    .cat {
    display: flex;
    gap: 20px;              
}
.cat-item {
    color: white;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}
.bug{
    margin-left: 350px;
}

.cat-item:hover {
    text-decoration: solid;
}
.tiny{
    padding: 10px 12px
    font-size: 0.9rem !important;
    transition: background 0.3s;  
    cursor: pointer; 
}
.mtiny{
    font-size: 0.75rem !important;
}
.ftiny{
    font-size: 1.7rem !important;
}
.tiny:hover{
    background-color: #e0e0e0;
    transform: scale(1.05);
}
.d-flex{
    display: flex;
    gap: 12px;
}
.bt1 {
    border: none;                        
    background-color: black;             
    color: #fff;                        
    font-size: 16px;                     
    padding: 5px 0;                  
    border-radius: 0px;                  
    cursor: pointer;                   
    margin-left: 10%;  
    margin-right: 0%;
    transition: background-color 0.3s ease; 
    width: 100px;
    height: 30px;
    font-weight: bold;       
    text-align: center;      
    vertical-align: middle;  
    display: flex;           
    justify-content: center; 
    align-items: center;           
    cursor: pointer;         
}
.bt2 {
    border: none;                        
    background-color: #ffff;             
    color: black;                        
    font-size: 16px;                     
    padding: 5px 0;                  
    border-radius: 0px;                  
    cursor: pointer;                   
    margin-left: 10%;  
    margin-right: 0%;
    transition: background-color 0.3s ease; 
    width: 100px;
    height: 30px;
    font-weight: bold;       
    text-align: center;      
    vertical-align: middle;  
    display: flex;           
    justify-content: center; 
    align-items: center;           
    cursor: pointer;         
}
.bt2:hover{
    background-color: black;
    transform: scale(1.05);
    color: white;
}

.bt1:hover {    
    background-color: #333;             
}
.bbc-box {
    display: inline-block;
    background-color: black;   
    color: white;              
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    width: 40px;               
    height: 40px;              
    text-align: center;        
    line-height: 40px;         
    margin-right: 6px;       
}
.mini {
    background-color: #5d6163;  
    width: 100%;         
    padding: 15px 0;   
    height: auto;
    position: absolute;
}




/*INDEX STYLING*/


.page-container {
  width: 100%;
  height: 100vh; 
  box-sizing: border-box;

}


.grid-container1 {
  display: grid;
  width: 96%;             
  height: 45vh; 
  margin: 0 auto;          
  grid-template-columns: 30% 50% 30%; 
  grid-template-rows: 100%;
  padding-right: 50px;
  padding-left: 0%;           
  gap: 5px;    
      
}



.item {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: none !important;
  text-align: center;
}


.item1 { background-color: #ffff; } /* Right */
.item2 { background-color: #ffff; } /* Center */
.item3 { background-color: #d4f9d4; } /* Left */

.grid-container2 {
  display: grid;
  width: 96%;             
  height: 45vh; 
  margin: 0 auto;          
  grid-template-columns: 20% 20% 20% 20% 30%; 
  grid-template-rows: 100%;           
  gap: 3px;    
  padding-right: 50px;
  padding-left: 0%;
  box-sizing: border-box;
      
}

.hover-underline {
    text-decoration: none; 
    color: black;          
}

.ctiny{
     font-size: 0.2rem !important;
}

.copy:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

.custom-drop {
  border-radius: 0 !important;
  background: rgba(150, 150, 150, 0.3); /* ash + transparent */
  backdrop-filter: blur(10px); /* blur effect */
  border: 1px solid rgba(150, 150, 150, 0.3);
  color: black;
}

.custom-menu {
  background: rgba(150, 150, 150, 0.35);
  backdrop-filter: blur(8px);
  border-radius: 0 !important;
  border: none;
}

.custom-menu .dropdown-item:hover {
  background: rgba(0,0,0,0.1);
}
